@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat&family=Tilt+Neon&display=swap');

/* Code pour le header - Code pour le header - Code pour le header*/
header{
    background-color: #FFCA08;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
}

#header_logo {
    width:80px;
    height: auto;
    margin:20px;
}
 
#header_green-planet {
    font-family: "Fredoka One", cursive;
    text-transform: uppercase;
    font-weight: bold;
    color:#2362B0;
    font-size: 1.5rem;
    display:flex;
    align-items: center;
    margin-left:20px;
}

#header_ul {
    list-style-type: none;
    display: flex;
    margin-right:20px;
}

.header_li {
    padding:10px;
    align-content: end;
    font-family: "Montserrat";
    color:#2362B0;
    text-align: center;
}

header a {
    text-decoration: none;
    color: #2362B0;
}

.header_li:hover {
    font-weight: bold;
    text-decoration: underline;
}

#header_burger, #header_toggle {
    display:none;
}

/* Fin code pour le header - Fin code pour le header - Fin code pour le header */

body {
    width: auto;
    margin: 0;
    padding:0;
}

 

  /*  debut de code pour quisommesnous_globale*/  
h1{
    display: flex;
    font-family: "Fredoka One", cursive;
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    font-size:2rem;
    padding:0 10px 0 10px;
}
#qui-sommes-nous_soustitre1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #2362b0;
    color: aliceblue;
    font-family:"Tilt Neon";
    font-size:1.5rem;
}

.quisommesnous_texte_green_plante{
    color: #181818;
    font-family:"Montserrat";
    padding: 20px;
}

em {
    font-weight: bold;
    font-style: normal;
}

#quisommesnous_blocgauche {
    display: flex;
    flex-direction: column;
    width:50%;
    margin:50px;
}

#quisommesnous_blocdroite {
    width:50%;

}

.quisommesnous_bouton{
    background-color:#FFCA08 ;
    color: black;
    font-family:"Montserrat";
    font-weight: bold;
    width: 150px; 
    height:40px;
    margin: auto;
    border-radius: 20px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quisommesnous_bouton a {
    color:inherit;
    text-decoration: none;
}
.quisommesnous_bouton:hover{
    background-color: #2362b0;
    color:white;
    cursor:pointer;
    transform: scale(1.1);
    transition: all 500ms ease;
}

#qui-sommes-nous_blocgeneral{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
    


#quisommesnous_image-ile {
    border-radius: 20px;
    width:80%;
}

#quisommesnous_ile {
    display: flex;
    justify-content: center;
}

/* Fin code pour quisommenous -grenn plante*/

/* code pour  le bloc-notre-equipe*/

.quisommesnous_notre-equipe{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
#quisommesnous_titre2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color:#79C2BE;
    color: black;
    font-family:"Tilt Neon";
    font-size:1.5rem;
    
}
.quisommesnous_photo_equipe{
     
    width: 150px;
    height:auto;
    border-radius: 100px;
    transition: all 500ms ease;

}

.quisommesnous_personne:hover{
    transform: scale(1.2);
    transition: all 500ms ease;
}
.quisommesnous_texte_equipe{

     width: 150px;
     height:auto;
     font-family:"Montserrat";
     text-align: center;
}
/* Fin code pour bloc-notre-equipe*/

/* code pour bloc-nos partenaires*/
.quisommesnous_nospartenaires{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
#quisommesnous_titre3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color:#FFCA08 ;
    color: black;
    font-family:"Tilt Neon";
    font-size:1.5rem;
}

.quisommesnous_logo{
     
    width: 150px;
    height:auto;

}
/* Fin code pour bloc-nospartenaires*/






/* Code pour le footer - Code pour le footer - Code pour le footer - */

#footer_blocblanc {
    background-color: white;
    height: 80px;
}

footer {
    background-color: #2362B0;
    display:flex;
    justify-content: space-between;
    align-items: center;

    position:fixed; /*pour coller le footer en bas */
    bottom: 0; left: 0; right: 0;
    width:100%;
    height:auto;
}

#footer_gauche{
    color:white;
    font-family: "Montserrat";
    padding-left:20px;
    font-size: 0.7rem;
}

footer a {
    color:white;
    text-decoration: underline;
}

footer a:hover {
    font-weight: bold;
    color:#79C2BE;
 }

 footer .fa-brands {
    width: 30px;
    height:auto;
    color:white;
    padding-right:20px;
 }

 footer .fa-brands:hover {
    color:#79C2BE;
    cursor: pointer;
    transform: scale(1.2); 
    transition: all 500ms ease;
 }

/* Fin code pour le footer - Fin code pour le footer - Fin code pour le footer - */


/*Code pour le responsive qui sommes nous tabellet*/
@media (min-width:551px) and (max-width:768px) {
    #qui-sommes-nous_blocgeneral{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .quisommesnous_notre-equipe{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #quisommesnous_blocgauche {
        width:100%;
        margin:10px;
    }
    
    #quisommesnous_blocdroite {
        width:100%;
    
}

.quisommesnous_personne {
    padding:10px;
}
}

@media (max-width: 550px){
    /*Code media queries pour le header*/
    nav
    {
        height: 60px;
        width: auto;
    }
 
    nav #header_ul
    {
        display: none;
        flex-direction: column;
        background-color: #FFCA08;
        height: auto;
        position: relative;
    }
 
    nav #header_ul a {
        width: 50%;
    }
 
    #header_burger
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        font-size: 30px;
        color:#2362B0;
        cursor: pointer;
    }

    #header_toggle:checked + #header_ul {
        display: flex;
    }

    #header_logo {
        width:50px;
        margin:10px;
    }
     
    #header_green-planet {
        margin-left:10px;
    }

    /*Fin code media queries pour le header*/


 /*Code pour le responsive qui sommes nous*/   
    #qui-sommes-nous_blocgeneral{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .quisommesnous_notre-equipe{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #quisommesnous_blocgauche {
        width:100%;
        margin:10px;
    }
    
    #quisommesnous_blocdroite {
        width:100%;
    
}

.quisommesnous_personne {
    padding:10px;
}

}     
